.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3::first-letter {
  text-transform: capitalize;
}

#fetcher {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#fetcher input {
  width: 15vw;
  margin-bottom: 5px;
  text-align: center;
}

#fetcher button {
  width: 10vw;
}

#buttons {
  display: flex;
  flex-direction: row;
}

#prev {
  margin-right: 15px;
  align-self: center;
}

#next {
  margin-left: 15px;
  align-self: center;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sub_info {
  display: flex;
  flex-direction: row;
}

#left {
  margin-right: 10vw;
}

#right {
  text-align: left;
}

#left p {
  text-align: left;
}

p {
  line-height: 10px;
}